<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img src="assets/Images/LifeCoachLogIn.jpg">
        </div>
        <div>
            <button class="btn" type="button" class="btn btn-primary" (click)="onLogin('Coach')">Login as Coach</button>

        </div>
        <div>
            <button class="btn" type="button" class="btn btn-primary" (click) ="onSignup('Coach')">Join as Coach</button>

        </div>

      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <img src="assets/Images/UserLogIn.jpg">
        <div>
            <button class="btn" type="button" class="btn btn-primary" (click)="onLogin('User')" >Login as User</button>

        </div>
        <div>
            <button class="btn" type="button" class="btn btn-primary" (click) ="onSignup('User')">Join as User</button>

        </div>  
          
        </div>
      </div>
    </div>
